@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
  background-color: black;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .flu{
        color: gray;
       
        bottom: 0;
        font-size: 20px;
    }

}

.quiz-container{
    background-color: #01204E;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}


.quiz-header{
    padding: 4rem;
    color: white;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
 
}

ul li label{
    cursor: pointer;
}

button{
    background-color:#8e44ad;
    display: block;
    color: white;
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    background-color: #531e69;
}

button:focus{
    background-color: #65048f;
    outline: none;
}